<p>
    Setup API client and test player properties in file config.js
</p>

<p>
    API_ENDPOINT = <span id="API_ENDPOINT"></span> <br> API_KEY = <span id="API_KEY"></span> <br> API_SECRET = <span id="API_SECRET"></span> <br> TEST_PLAYER_ID = <span id="TEST_PLAYER_ID"></span> <br> TEST_PLAYER_EMAIL = <span id="TEST_PLAYER_EMAIL"></span>    <br> TEST_PLAYER_PASSWORD = <span id="TEST_PLAYER_PASSWORD"></span> <br>
</p>
<script src="config.js"></script>
<script src="js/Playbasis.min.js"></script>
<script src="js/PlayerLogin.js"></script>
<script src="js/PlayerLogout.js"></script>
<script src="js/RegisterPlayer.js"></script>
<script src="js/DeletePlayer.js"></script>
<script src="js/PlayerInfo.js"></script>
<script src="js/PlayerDetailedInfo.js"></script>
<script src="js/AppAllQuizzes.js"></script>
<script src="js/AppAllCompletedQuizzes.js"></script>
<script src="js/ListNodes.js"></script>
<script src="js/ListOrganizations.js"></script>

<script>
    Playbasis.builder
        .setEndpoint(API_ENDPOINT)
        .setApiKey(API_KEY)
        .setApiSecret(API_SECRET)
        .build();

    document.getElementById('API_ENDPOINT').innerHTML = API_ENDPOINT;
    document.getElementById('API_KEY').innerHTML = API_KEY;
    document.getElementById('API_SECRET').innerHTML = API_SECRET;
    document.getElementById('TEST_PLAYER_ID').innerHTML = TEST_PLAYER_ID;
    document.getElementById('TEST_PLAYER_EMAIL').innerHTML = TEST_PLAYER_EMAIL;
    document.getElementById('TEST_PLAYER_PASSWORD').innerHTML = TEST_PLAYER_PASSWORD;
</script>

<div>
    <fieldset>
        <legend>Player Basis</legend>
        <button onclick="RegisterPlayer()">RegisterPlayer</button>
        <button onclick="PlayerLogin()">PlayerLogin</button>
        <button onclick="RegisterPlayer()">RegisterPlayer</button>
        <button onclick="RegisterPlayer()">RegisterPlayer</button>
        <button onclick="PlayerInfo()">PlayerInfo</button>
        <button onclick="PlayerDetailedInfo()">PlayerDetailedInfo</button>
    </fieldset>

    <fieldset>
        <legend>App states</legend>
        <button onclick="AppAllQuizzes()">Get All Quizzes / Get Next Question</button>
        <button onclick="AppAllCompletedQuizzes()">AppAllCompletedQuizzes</button>
        <h3>Available quizzes</h3>
        <ul id="QUIZZES"></ul>
        <h3>Completed quizzes</h3>
        <ul id="DONE_QUIZZES"></ul>
    </fieldset>

    <fieldset>
        <legend>Organization</legend>
        <button onclick="ListOrganizations()">ListOrganizations</button>
        <button onclick="ListNodes()">ListNodes</button>
        <h3>Organizations</h3>
        <ul id="ORGS"></ul>
        <h3>Nodes</h3>
        <ul id="NODES"></ul>
    </fieldset>
</div>