<style>
	.buttonwrapper {
	  display: inline-block;
	}
	input {
        font-family: "Helvetica Neue", Helvetica, sans-serif;
        font-size: 22px;
        outline: none;
    }
    input[type=text],
    input[type=password] {
        color: #777;
        padding-left: 10px;
        margin: 0px;
        margin-top: 12px;
        margin-left: 18px;
        width: 250px;
        height: 35px;
		text-align:center;
      border: 1px solid #c7d0d2;
        border-top-left-radius: 17px;
		border-bottom-left-radius:17px;
        box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #f5f7f8;
    -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
        transition: all .4s ease;
      }
    input[type=text]:hover,
    input[type=password]:hover {
        border: 1px solid #b6bfc0;
        box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .7), 0 0 0 5px #f5f7f8;
    }
    input[type=text]:focus,
    input[type=password]:focus {
        border: 1px solid #a8c9e4;
        box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #e6f2f9;
    } 
	
	button
	{
	  height:44px;
	  width:80px;
	  color:#fff;
	  border-top-right-radius: 22px;
	  border-bottom-right-radius: 22px;
	  font-size:20px;
	  font-family:Arial, "Helvetica", sans-serif;
	  text-align:center;
	  position:relative;
	  cursor:pointer;
	  background-color:#24f2ed;
	}
</style>
<div class="row">
<div class="col-sm-4 buttonwrapper">
    <input type="text" placeholder="Referral Code" id="username" name="username">
	<button id="copyButton" name="copyButton">Copy</button>
</div>
</div>