<script src="axios.min.js"></script>
<script>

    var appStates = {
        system: {
            API_ENDPOINT: 'https://drgn-api.pbapp.net',
            API_KEY: '3167969483',
            API_SECRET: 'ee9156cd936c40f441644bb92b8fdd68',
            API_HTTP_HEADERS: {
                'content-type': 'multipart/form-data',
                Accept: 'application/json'
            }
        },
        token: ''
    };

    function auth(callback) {
        var bodyFormData = new FormData()
        bodyFormData.set('api_key', appStates.system.API_KEY)
        bodyFormData.set('api_secret', appStates.system.API_SECRET)
        return axios({
            method: 'post',
            url: appStates.system.API_ENDPOINT + '/Auth',
            data: bodyFormData,
            headers: appStates.system.API_HTTP_HEADERS
        }).then(({ data }) => {
            console.log('auth', data);
            if (data.success) {
                localStorage.setItem("token", data.response.token);
                appStates.token = data.response.token;
                if (callback) callback();
            } else {
                localStorage.removeItem("token");
                appStates.token = '';
                if (callback) callback();
            }
        })
    }

    function getCampaign(campaign_name) {
        return axios({
            method: 'get',
            url: appStates.system.API_ENDPOINT + '/Campaign?token=' + appStates.token + '&campaign_name=' + campaign_name,
            headers: appStates.system.API_HTTP_HEADERS
        })
    }

    // No need to call auth() all the time if you have a better way to manage a valid token
    auth(() => {
        const uniqueCampaignName = 'QuizAvailability';
        getCampaign(uniqueCampaignName)
        .then(({ data }) => {
            if (data.success &&  data.response.length > 0) {
                const campaign = data.response[0];
                console.log('campaign', campaign)
                const startUTCString = campaign.date_start.replace('+0000', '');
                const endUTCString = campaign.date_end.replace('+0000', '');
                const isCanPlayGame = canPlayGame(startUTCString, endUTCString);
                console.log('isCanPlayGame', isCanPlayGame);
            }
        });
    });

    function canPlayGame(startUTCString, endUTCString) {
        const now = new Date().getTime();
        const cstart = new Date(startUTCString).getTime();
        const cend = new Date(endUTCString).getTime();
        return now <= cend && now >= cstart;
    }

</script>