body {
    margin: 0;
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
a:link,
a:visited {
    width: 100%;
    background-image: linear-gradient(-90deg, red, blue);
    color: white;
    padding: 5px 5px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
}

a:hover,
a:active {
    background-image: linear-gradient(-90deg, gray, blue);
}

ul {
    margin: 0;
    padding: 10;
}
li {
    margin: 0;
    margin-bottom: 2px;
    padding: 0;
    list-style-type: none;
}