body {
    padding: 50;
    margin: 0;
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
a:link,
a:visited {
    color: red;
}

a:hover,
a:active {
    color: red;
}

ul {
    margin: 0;
    padding: 10;
}
li {
    margin: 0;
    margin-bottom: 2px;
    padding: 0;
    list-style-type: circle;
}