<h1>Referral API</h1>

<p>The ReferralAPI allows the developer to create rules for INVITE and INVITED action
    that can grant rewards for specific inviter player id and invitee player id.
</p>

<p>Pre-conditions: Dashboard admin must ensure action INVITE and INVITED must be exist</p>

<h4>What ReferralAPI will do</h4>
<p>
    The advantage of ReferralAPI is that developer can use built-in invitation system provided by ReferralAPI.
</p>
<p>
    The built-in invitation system will provide two funtions
</p>

<ol>
    <li>help manage the states of invitation, where the API will not process the request if the invitation was done.
    </li>
    <li>help organize the grant of reward events for inviter and invitee based on Engine rules,
        where developers will be directly informed of the reward events with the ReferralAPI.</li>
</ol>

<h4>What ReferralAPI will NOT do</h4>

<p>The scope of ReferralAPI is to provide the two functions as mentioned above. Other jobs such as sending an email or
    any
    notifications
    are not provided by ReferralAPI. The developer will have to orchestrate other jobs before or after the application
    of
    ReferralAPI. </p>

<h4>Limitation of ReferralAPI</h4>

<p>Multiple invitation topics are not supported by ReferralAPI. Multiple invitation topics may be needed if the target
    system requires more than one invitation types,
    where developers will have to create an invitation system by incorporating with EngineRule API.</p>

<h4>ReferralAPI scenario example</h4>

<h5>Invitation-Based Registration</h5>

<i>As a registered player, I want to invite my friend who is not yet registered with the system by email, so my friend
    will become a new player and I can collect a reward. </i>

<ol>
    <li>(Not the scope of ReferralAPI) Send email registration link to an invitee who is not the player in the system
        where the link contains the info of an inviter player </li>
    <li>(Not the scope of ReferralAPI) Once the invitee clicks the invitation link, a registration form will be shown.
    </li>
    <li>The invitee submits the registration form, where RegisterAPI will be called and then follow with ReferralAPI
    </li>
    <li>The inviter account will receive rewards from Engine rules that associated with INVITE action</li>
    <li>The invitee account may be considered to receive a reward from the first registration that invited by a referral
        account. This reward can be happened if the developer has engine rules that associated with INVITED action</li>
</ol>

<h4>Code example</h4>

The following small app guides you to know:

<ol>
    <li>How to register a new player with tag. The application of tag with this context is to help developers orgainze
        the group of players that allow retrieving of player list in the later step</li>
        <li>How to call ReferralAPI and receive inviter's rewards </li>
        <li>Highly recommended to check the game rules in your Dashboard before runing the code example. You will have to set at least one active Rule that associated with INVITE action</li>
    </ol>
<hr>

<h1>Registration Form</h1>
Player id <input type="text" id="playerId" /><button onclick="uiRegister('playerId')">Register</button>

<button onclick="uiListAllPlayers(app.playerOrg)">List all players</button>
<ul id="players">Loading players...</ul>

<h1>Invitation Form</h1>

<b>Inviter</b>(<input type="text" id="inviter" placeholder="player id" />)
invites <b>Invitee</b>(<input type="text" id="invitee" placeholder="player id" />)
<button onclick="uiInvite('inviter', 'invitee')">Invite</button>



<script src="Playbasis.min.js"></script>
<script src="jquery.min.js"></script>
<script src="axios.min.js"></script>

<script>
    var app = {
        system: {
            API_ENDPOINT: 'https://drgn-api.pbapp.net',
            API_KEY: '3167969483',
            API_SECRET: 'ee9156cd936c40f441644bb92b8fdd68'
        },
        token: null,
        playerOrg: 'ABCCompany',
        players: []
    };

    Playbasis.builder
        .setEndpoint(app.system.API_ENDPOINT)
        .setApiKey(app.system.API_KEY)
        .setApiSecret(app.system.API_SECRET)
        .build();

    const playerAPI = Playbasis.playerApi;

    function apiInvitePlayer(payload, callback) {
        playerAPI
            .playerReferralCode(payload.inviterPlayerId)
            .then((data) => {
                if (data.success) {
                    const inviterPlayerReferralCode = data.response.code;
                    playerAPI
                        .referral(payload.inviteePlayerId, inviterPlayerReferralCode)
                        .then((data) => {
                            if (data.success) {
                                console.log('referral', data);
                                callback(true, data.message, data.response.inviter_response.response.events);
                            } else {
                                console.error('referral', data);
                                callback(false, data.message);
                            }
                        }, (error) => {
                            callback(false, error.cause);
                        });
                } else {
                    console.error('playerReferralCode', data.message);
                    callback(false);
                }
            }, (error) => {
                callback(false, error.cause);
            });
    }

    function auth(callback) {
        var bodyFormData = new FormData()
        bodyFormData.set('api_key', app.system.API_KEY)
        bodyFormData.set('api_secret', app.system.API_SECRET)
        return axios({
            method: 'post',
            url: app.system.API_ENDPOINT + '/Auth',
            data: bodyFormData,
            headers: app.system.API_HTTP_HEADERS
        }).then(({ data }) => {
            if (data.success) {
                console.log('auth', data);
                app.token = data.response.token;
                callback(true);
            } else {
                console.error('auth', data);
                callback(false);
            }
        })
    }

    function apiRegisterPlayer(playerId, playerEmail, options, callback) {
        playerAPI
            .register(playerId, playerEmail, options)
            .then((data) => {
                callback(data.success, data.message);
            }, (error) => {
                callback(false, error.cause);
            });
    }

    function apiDeletePlayer(playerId, callback) {
        playerAPI
            .delete(playerId)
            .then((data) => {
                callback(data.success, data.message);
            }, (error) => {
                callback(false, error.cause);
            });
    }

    function uiRegister(inputEId) {
        const playerId = $("#" + inputEId).val();
        if (playerId != '') {
            apiRegisterPlayer(playerId, playerId + '@abc.com', {
                password: 'password',
                tags: app.playerOrg, // Fixed value will help retrieve list of all players
                approved_status: 'approved' // No need activation email 
            }, (done, message) => {
                if (done) {
                    alert(playerId + ' has been registered');
                    uiListAllPlayers(app.playerOrg);
                } else {
                    alert(message);
                }
            });
        } else {
            alert('input cannot be empty');
        }
    }

    function uiDelete(playerId) {
        if (playerId != '') {
            apiDeletePlayer(playerId, (done, message) => {
                if (done) {
                    alert(playerId + ' has been deleted');
                    uiListAllPlayers(app.playerOrg);
                } else {
                    alert(message);
                }
            });
        } else {
            alert('input cannot be empty');
        }
    }

    function uiInvite(inviterInputEId, inviteeInputEId) {
        const inviterPlayerId = $("#" + inviterInputEId).val();
        const inviteePlayerId = $("#" + inviteeInputEId).val();
        if (inviterPlayerId != '' && inviteePlayerId != '') {
            apiInvitePlayer({ inviteePlayerId: inviteePlayerId, inviterPlayerId: inviterPlayerId }, (done, message, events) => {
                if (done) {
                    alert(inviteePlayerId + ' has been invited by ' + inviterPlayerId);
                    alert('See reward events for inviter in JS CONSOLE');
                    console.log('events', events);
                } else {
                    alert(message);
                }
            })
        } else {
            alert('input cannot be empty');
        }
    }

    // List Players API with tag is not yyet impleemnted in JS SDK 1.4.9
    function apiListPlayers(regTag, callback) {
        var bodyFormData = new FormData()
        bodyFormData.set('tags', regTag)
        bodyFormData.set('token', app.token)
        return axios({
            method: 'post',
            url: app.system.API_ENDPOINT + '/Player/list',
            data: bodyFormData,
            headers: app.system.API_HTTP_HEADERS
        }).then(({ data }) => {
            if (data.success) {
                console.log('apiListPlayers', data);
                const players = data.response.player;
                callback(true, players);
            } else {
                console.error('apiListPlayers', data);
                callback(false);
            }
        })
    }

    function uiListAllPlayers(tag) {
        apiListPlayers(tag, (done, players) => {
            if (done) {
                $('#players').html('');
                console.log('players', players);
                app.players = players;
                const listTags = players.map((player) => {
                    return '<li>👤 ' + player.cl_player_id + ' 📧' + player.email + ' 🏛️' + player.tags + ' <button onclick="uiDelete(\'' + player.cl_player_id + '\')">delete</button></li>';
                });
                $('#players').html(listTags);
            }
        })
    }

    function init() {
        auth((done) => {
            if (!done) {
                alert('Cannot get APP TOKEN')
            } else {
                uiListAllPlayers(app.playerOrg);
            }
        });
    }

    init();

</script>