
<script src="Playbasis.min.js"></script>
<script>

var appStates = {
    system: {
        API_ENDPOINT: 'http://local-api',
        API_KEY: '2094297024',
        API_SECRET: '511a3dfcbd70c07417668c58f8d81ddd'
    }
};

Playbasis.builder
    .setEndpoint(appStates.system.API_ENDPOINT)
    .setApiKey(appStates.system.API_KEY)
    .setApiSecret(appStates.system.API_SECRET)
    .build();

const playerId = "demoplayer";
Playbasis
    .playerApi
    .requestOTP(playerId)
    .then((resp) => {
        consle.log(resp);
    });


</script>