<div id="qr"></div>
<script src="Playbasis.min.js"></script>
<script>
console.log(Playbasis)
Playbasis
    .qrCode
    .generate('qr','https://google.com', null)
    .then((resp) => {
        console.log(resp);
    });


</script>