
<script src="Playbasis.min.js"></script>
<script>

var appStates = {
    system: {
        API_ENDPOINT: 'https://drgn-api.pbapp.net',
        API_KEY: '3167969483',
        API_SECRET: 'ee9156cd936c40f441644bb92b8fdd68'
    },
    contentIds: {
        tc: {
            eng: 'tc-en',
            ch: 'tc-ch' 
        }
    },
};

Playbasis.builder
    .setEndpoint(appStates.system.API_ENDPOINT)
    .setApiKey(appStates.system.API_KEY)
    .setApiSecret(appStates.system.API_SECRET)
    .build();


function getTc(cId, callback) {
    const node_id = cId || 'tc-en';
    Playbasis
        .contentApi
        .retrieveContent({ node_id: node_id})
        .then(callback);
}

getTc('tc-en', (contentObj) => {
    console.log('tc-en contentObj', contentObj);
})

getTc('tc-ch', (contentObj) => {
    console.log('tc-ch contentObj', contentObj);
})

</script>